<h5 style="text-align: center;"> Otras fuentes de información sobre estos hechos </h5>
<table class="table  table-bordered table-sm campodepersona ">
  <thead class="thead-light">
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th colspan="2">Identificación</th>
      <th>Sexo</th>
      <th>Año nac.</th>
      <th>Mes</th>
      <th>Dia</th>
      <th>Teléfono</th>
      <th>Observaciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="listapersonafuente">
    <%= f.simple_fields_for :listapersonafuente do |a| %>
      <%= render 'listapersonafuente_campos', f: a %>
    <% end %>
  </tbody>
</table>
<div class="links">
  <%= link_to_add_association 'Añadir Fuente', f, 
    :listapersonafuente,
    :"data-association-insertion-node" => "tbody#listapersonafuente", 
    :"data-association-insertion-method" => "append", 
    partial: 'listapersonafuente_campos',
    :class => 'btn btn-sm btn-primary'
  %>
</div>
