<h5 style="text-align: center;">Asistencia</h5>

<table class="table  table-bordered table-sm ">
  <thead class="thead-light">
    <tr>
      <th>Organización</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= turbo_frame_tag "asisreconocimiento" do %>
    <%= turbo_frame_tag "new_asisreconocimiento", src: new_lugarpreliminar_asisreconocimiento_path(@lugarpreliminar), target: "_top" %>
<% end %>
<div id="asisreconocimientos">
    <%= render @lugarpreliminar.asisreconocimientos %>
</div>
