<div class="row">
  <div class="col-md-6">
    <strong>Fecha</strong>
    <p><%= @lugarpreliminar.fecha %></p>
  </div>
  <div class="col-md-6">
    <strong>Código Sitio</strong>
    <p><%= @lugarpreliminar.codigositio %></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <strong>Nombre Usuario</strong>
    <p><%= @lugarpreliminar.nombreusuario %></p>
  </div>
  <div class="col-md-6">
    <strong>Organización</strong>
    <p><%= @lugarpreliminar.organizacion %></p>
  </div>
</div>
