<div class="row">
  <div class="col-md-6">
    <% if @lugarpreliminar.fecha %>
      <strong>Fecha</strong>
      <p><%= @lugarpreliminar.fecha %></p>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @lugarpreliminar.codigositio != '' %>
      <strong>Código Sitio</strong>
      <p><%= @lugarpreliminar.codigositio %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% if @lugarpreliminar.nombreusuario != '' %>
      <strong>Nombre Usuario</strong>
      <p><%= @lugarpreliminar.nombreusuario %></p>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if @lugarpreliminar.organizacion != '' %>
      <strong>Organización</strong>
      <p><%= @lugarpreliminar.organizacion %></p>
    <% end %>
  </div>
</div>
